<ion-content class="main-background">
  <div>
    <label class="service-label" for="weatherServiceSelect" >Keyword</label>
    <div class="margin-10">
      <input id="keyword-input" class="general-input" ng-model="preferences.keyword"/>
    </div>

    <label class="service-label" for="srEngineSelect" >Speech Recognition Engine</label>
    <ui-select id="srEngineSelect" ng-model="preferences.srService"
               theme="bootstrap"
               reset-search-input="false"
               title="Choose an engine"
               append-to-body="true"
               search-enabled="false">
      <ui-select-match placeholder="Select a SR engine...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="option in options.srEngines">
        <div>{{option}}</div>
      </ui-select-choices>
    </ui-select>

    <label class="service-label" for="musicServiceSelect" >Music Services</label>
    <ui-select id="musicServiceSelect" ng-model="preferences.musicService"
               theme="bootstrap"
               reset-search-input="false"
               title="Choose a service"
               append-to-body="true"
               search-enabled="false">
      <ui-select-match placeholder="Select a music service...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="option in options.musicServices">
        <div>{{option}}</div>
      </ui-select-choices>
    </ui-select>

    <label class="service-label" for="weatherServiceSelect" >Weather Services</label>
    <ui-select id="weatherServiceSelect" ng-model="preferences.weatherService"
               theme="bootstrap"
               reset-search-input="false"
               title="Choose a service"
               append-to-body="true"
               search-enabled="false">
      <ui-select-match placeholder="Select a music service...">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="option in options.musicServices">
        <div>{{option}}</div>
      </ui-select-choices>
    </ui-select>

  </div>
</ion-content>
