<ion-view view-title="" class="main-background text-align-center">
  <ion-content>
    <div class="full-height">
      <img src="./img/eHealthOntario_WordMark_Transparent_en.png" alt="Innovation Lab" class="landing-main-logo"/>
      <button class="button button-calm landing-buttons"
              ng-click="changeState('clientList')">
        <span>{{::DICTIONARY.BUTTONS.PATIENT}}</span>
      </button>
      <p class="grey-text">{{::DICTIONARY.LANDING.PATIENT_DESC}}</p>
      {{mode}}
    </div>
  </ion-content>
</ion-view>
